<div class="modal-body">
  <div class="row report-header">
    <div class="form-group">
      <div class="col-sm-2">
        <div>782</div>
        <div>采集隧道总数</div>
      </div>
      <div class="col-sm-2">
        <div>298</div>
        <div>已完成隧道数</div>
      </div>
      <div class="col-sm-2">
        <div>23</div>
        <div>延期采集隧道数</div>
      </div>
      <div class="col-sm-2">
        <div>8</div>
        <div>采集中隧道数</div>
      </div>
      <div class="col-sm-2">
        <div>1345</div>
        <div>发生病害数量</div>
      </div>
      <div class="col-sm-2">
        <div>198</div>
        <div>病害桥梁数</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="portlet light ">
        <div class="portlet-title">
          <div class="caption">
            <i class="icon-bar-chart"></i>
            <span class="caption-subject ">病害数据采集统计</span>
          </div>
          <div class="actions">
            <div class="btn-toolbar margin-bottom-10">
              <div class="btn-group">
                <button type="button" class="btn btn-default">日</button>
                <button type="button" class="btn btn-default">周</button>
                <button type="button" class="btn btn-default">月</button>
              </div>
            </div>
          </div>
        </div>
        <div class="portlet-body">
          <div id="char_sjcj"></div>
        </div>
      </div>
    </div>    
    <div class="col-sm-6">
      <div class="portlet light ">
        <div class="portlet-title">
          <div class="caption">
            <i class="icon-bar-chart"></i>
            <span class="caption-subject ">病害等级统计</span>
          </div>
        </div>
        <div class="portlet-body">
          <div id="char_bhdj"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="portlet light ">
        <div class="portlet-title">
          <div class="caption">
            <i class="icon-bar-chart"></i>
            <span class="caption-subject ">病害分布比例</span>
          </div>
        </div>
        <div class="portlet-body">
          <div id="char_fbbl"></div>
        </div>
      </div>
    </div> 
    
    <div class="col-sm-3">
      <div class="portlet light ">
        <div class="portlet-title">
          <div class="caption">
            <i class="icon-bar-chart"></i>
            <span class="caption-subject ">工作进度情况</span>
          </div>
        </div>
        <div class="portlet-body">
          <div id="char_gzjd"></div>
        </div>
      </div>
    </div>  

    <div class="col-sm-6">
      <div class="portlet light ">
        <div class="portlet-title">
          <div class="caption">
            <i class="icon-bar-chart"></i>
            <span class="caption-subject ">病害数量排名</span>
          </div>
        </div>
        <div class="portlet-body">
          <div id="char_slpm"></div>
        </div>
      </div>
    </div>
  </div>
  
  <a class="model-colse" data-dismiss="modal" aria-hidden="true">X</a>

</div>