<div class="modal-header">
    <i class="icon-key"></i> 修改密码
</div>
<div class="modal-body">
    <div class="row">
        <form class="form-horizontal form-border">
            <div class="form-group">
              <div class="col-sm-12">
                <input id="oldpwd" type="password"  class="form-control" placeholder="输入原始账号密码..." />
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <input id="newpwd" type="password" class="form-control" placeholder="输入新的账号密码..."/>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <input id="newpwd2" type="password" class="form-control" placeholder="输入确认账号密码..."/>
              </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button class="btn blue btn-block">确定</button>
                </div>
            </div>
        </form>
    </div>
</div>