<div class="modal-header">
    <i class="icon-user"></i> 用户登录
</div>
<div class="modal-body">
    <div class="row">
        <form class="form-horizontal form-border">
            <div class="form-group">
                <label class="col-sm-12 control-label">请输入用户名和密码</label>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input id="inputusername" class="form-control" type="text" placeholder="用户名">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input id="inputpassword" type="password" class="form-control" placeholder="密码" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-12 control-label">
                    <a href="javascript:;">忘记密码？</a>
                </label>
            </div>
            <div class="separator miniseparator"></div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button class="btn blue btn-block">登录</button>
                </div>
            </div>
        </form>
    </div>
</div>