<div class="modal-header">
  <i class="fa fa-cogs"></i> 桥检计划定制
</div>
<div class="modal-body">
  <div class="row">
    <form class="form-horizontal form-border">
      <div class="form-group">
        <label class="col-sm-3 control-label">计划名称:</label>
        <div class="col-sm-7">
          <input id="taskname" class="form-control" type="text" placeholder="输入计划名称...">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">计划说明:</label>
        <div class="col-sm-7">
          <input id="taskdesc" class="form-control" type="text" placeholder="输入计划说明...">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">开始时间:</label>
        <div class="col-sm-7">
          <input id="begindate" type="text" class="form-control form_datetime" placeholder="选择开始时间...">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">结束时间:</label>
        <div class="col-sm-7">
          <input id="enddate" type="text" class="form-control form_datetime" placeholder="选择结束时间...">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">部门:</label>
        <div class="col-sm-7">
          <select id="dept" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">桥梁:</label>
        <div class="col-sm-7">
          <div class="input-group">
            <input id="bradgefile" type="file" style="display:none;" />
            <input id="bradgetext" readonly class="form-control" type="text" placeholder="选择上传文件...">
            <span class="input-group-addon">
              <a id="bradgebtn">选择文件</a>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-2">
          <button class="btn blue btn-block">确定</button>
        </div>
        <div class="col-sm-2">
          <button class="btn yellow btn-block">返回</button>
        </div>
      </div>
    </form>
  </div>
</div>