<div class="modal-header">
    <i class="icon-key"></i> 视频
</div>
<div class="modal-body">
    <div class="row form-horizontal form-border">
        <div class="form-group">
            <div class="col-sm-12">
                <div id="play" style="width: 100%; height: 480px;"></div>
            </div>
        </div>
        <!--<div class="form-group">
            <div class="col-sm-12">
                <div>
                    <a id="btn_start" href="javascript:;"> <i class="icon-user"></i> 播放 </a>
                    <a id="btn_pause" href="javascript:;"> <i class="icon-user"></i> 暂停 </a>
                    <a id="btn_stop" href="javascript:;"> <i class="icon-user"></i> 停止 </a>
                </div>
            </div>
        </div>-->
    </div>
</div>