<div class="modal-header">
  <i class="fa fa-cogs"></i> 计划任务管理
</div>
<a class="model-colse" data-dismiss="modal" aria-hidden="true">X</a>
<div class="modal-body">
  <div class="row pull-right">
    <a class="insert" href="javascript:;"> <i class="icon-user"></i> 新增 </a>
    <a class="refresh" href="javascript:;"> <i class="icon-refresh"></i> 刷新 </a>
  </div>
  <div class="table-scrollable">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>序号</th>
          <th>计划任务名称</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>