@charset "UTF-8";
* {
  outline: medium none !important;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
  -webkit-appearance: none;
  box-shadow: none !important;
}

body {
  margin: 0;
  font-size: 14px;
  border: 0 none;
  font-weight: 400;
  padding: 0;
}

.container {
  width: 100%;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a:active, a:focus {
  outline-style: none;
  -moz-outline-style: none;
}

.visible {
  display: block !important;
}

input[type="radio"], input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
  box-sizing: border-box;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  background-color: transparent;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  margin: 0 0 10px;
}

.list-inline {
  margin-left: 0;
}

.list-inline > li:first-child {
  padding-left: 0;
}

.table {
  width: 100%;
  margin-top: 20px;
}

.table th, .table td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
}

.table th {
  text-align: left;
  vertical-align: bottom;
}

.table > thead:first-child > tr:first-child > th, .table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
  padding: 5px;
}

.btn {
  padding: 6px 12px;
}

.btn:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  outline: thin dotted #333;
}

.collapse {
  visibility: visible !important;
}

.dropdown-menu a {
  cursor: pointer;
}

.input-group-addon {
  position: relative;
  white-space: nowrap;
}

.input-group-addon, .input-group .form-control {
  display: table-cell;
}

.navbar-nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.navbar-nav > li {
  position: relative;
  display: block;
}

.navbar-nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}


/* 网站导航样式 */

.content-breadcrumb {
  padding: 15px;
  list-style: none;
}

.content-breadcrumb > li {
  display: inline-block;
}

.content-breadcrumb > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
}

.pageinfo {
  float: left;
  margin: 10px 10px;
}


/* 分页控件样式 */

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 0;
  border-radius: 4px;
}

.sub-menu-text .badge {
  right: 35px;
  position: absolute;
  float: right !important;
}

.separator {
  height: 1px;
  margin: 10px 0 30px;
}


/* Scroller */

.scroller {
  margin: 0 !important;
  padding: 0 12px 0 0 !important;
}

.date-range {
  margin-top: 20px;
}

.date-range .btn-group .btn {
  margin-top: -8px;
  padding: 8px;
}

.date-range .reportrange {
  margin-right: 0px;
  margin-top: -8px;
  padding: 10px;
  cursor: pointer;
  min-width: 275px;
  border-radius: 0 4px 4px 0;
}

.date-range .reportrange span {
  font-size: 12px;
  font-weight: 300;
  font-weight: normal;
}

.date-range .reportrange .fa-calendar {
  text-transform: normal;
  margin-top: 0px;
  font-size: 14px;
}

.date-range .reportrange .fa-angle-down {
  font-size: 16px;
}


/* Forms */

.form-control {
  border-radius: 0px;
  box-shadow: none;
  font-size: 14px;
  font-weight: normal;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}

.form-title {
  margin-top: 0px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
}

.textarea-transition {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}

/* Login Screen */

.login {
    background: #18c8f6;
    height: auto;
    background:url("../img/login-background.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: rgba(255,255,255,.95);
}
.login .bootbox-body{
  color: #555;
}
.signinpanel {
  width: 320px;
  margin: 10% auto 0 auto;
}

.signinpanel .signin-info ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.signinpanel .form-control {
  display: block;
  margin-top: 15px;
}

.signinpanel .btn {
  margin-top: 15px;
}

.signinpanel .single-form {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, .3);
  -moz-box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
  -webkit-box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
  box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 30px;
}

.signup-footer {
  border-top: solid 1px rgba(255, 255, 255, .3);
  margin: 20px 0;
  padding-top: 15px;
}

@media screen and (max-width: 768px) {
  .signinpanel, .signuppanel {
    margin: 0 auto;
    width: 420px!important;
    padding: 20px;
  }
  .signinpanel form {
    margin-top: 20px;
  }
  .signup-footer {
    margin-bottom: 10px;
  }
  .signuppanel .form-control {
    margin-bottom: 10px;
  }
  .signup-footer .pull-left, .signup-footer .pull-right {
    float: none !important;
    text-align: center;
  }
  .signinpanel .signin-info ul {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .signinpanel, .signuppanel {
    margin: 0 20px;
    width: auto;
  }
}


/*弹出式对话框样式*/

#fbmodal {
  position: absolute;
  left: 0;
  z-index: 1000;
  text-align: left;
}

#fbmodal_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.fbmodal_hide {
  z-index: -100;
}

.fbmodal_overlay {
  background-color: #000;
  z-index: 101;
}

.fbmodal {
  display: none;
}


/*Table Scrollable*/

.table-scrollable {
  border: 1px solid #dddddd;
  margin: 10px 0 !important;
  overflow: auto;
  width: 100%;
}

.table-scrollable > .table-bordered {
  border: 0 none;
}

.table-scrollable > .table-bordered > thead > tr:last-child > th, .table-scrollable > .table-bordered > tbody > tr:last-child > th, .table-scrollable > .table-bordered > tfoot > tr:last-child > th, .table-scrollable > .table-bordered > thead > tr:last-child > td, .table-scrollable > .table-bordered > tbody > tr:last-child > td, .table-scrollable > .table-bordered > tfoot > tr:last-child > td {
  border-bottom: 0 none;
}

.table-scrollable > .table-bordered > thead > tr > th:first-child, .table-scrollable > .table-bordered > tbody > tr > th:first-child, .table-scrollable > .table-bordered > tfoot > tr > th:first-child, .table-scrollable > .table-bordered > thead > tr > td:first-child, .table-scrollable > .table-bordered > tbody > tr > td:first-child, .table-scrollable > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0 none;
}

.table-scrollable > .table-bordered > thead > tr > th:last-child, .table-scrollable > .table-bordered > tbody > tr > th:last-child, .table-scrollable > .table-bordered > tfoot > tr > th:last-child, .table-scrollable > .table-bordered > thead > tr > td:last-child, .table-scrollable > .table-bordered > tbody > tr > td:last-child, .table-scrollable > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0 none;
}

.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
  border-top: 0 none;
}

.table-scrollable > .table {
  background-color: #fff;
  margin: 0 !important;
  width: 100% !important;
}

.table-scrollable th, .table-scrollable td {
  white-space: nowrap;
}


/*Date Range Picker*/

.daterangepicker .ranges {
  width: 200px !important;
}

.daterangepicker .ranges li {
  font-size: 15px !important;
}

.daterangepicker .ranges .input-mini, .daterangepicker .daterangepicker_start_input label, .daterangepicker .daterangepicker_end_input label {
  width: 90px !important;
  font-size: 13px !important;
}

.applyBtn, .cancelBtn {
  width: 90px !important;
}

.cancelBtn {
  margin-left: 7px !important;
}

.panel .panel-heading .panel-tools {
  float: right;
  display: inline-block;
  padding: 0;
  margin-bottom: 7px;
  clear: both;
  min-height: 30px;
  margin-top: -20px;
}

.panel .panel-heading .panel-tools > a {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  margin-right: 5px;
}

.no-padding {
  padding: 0 !important;
}

.widget {
  border-radius: 5px;
  padding: 15px 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.font-bold {
  font-weight: 600;
}